/* Add here all your css styles (customizations) */
.sidebar-nav-v1 {
    /*TODO test with mobile*/
    /*position: fixed;*/
    /*width: 260px;*/
    /*top: 127px;*/
}
.sidebar-nav-v1 > li.active,
.sidebar-nav-v1 > li.active:hover {
  background: #18ba9b;
}

.sidebar-nav-v1 li a {
    color: #687074;
}

.sidebar-nav-v1 li.active a:hover {
    color: #fff;
}

.sidebar-nav-v1 li a:hover {
    color: #18ba9b;
}

.portfolio{
    padding-left: 5px;
    padding-right: 5px;
}

.contacts {
    font-size: large;
}

.fancybox-overlay {
    z-index: 10100;
}

.fancybox-wrap{
    z-index: 10200;
}

.fancybox-opened {
    z-index: 10300;
}

.dropcap-bg {
    font-size: 30px;
    padding: 7px;
}

.service-block-v1 {
    margin-top: 0px;
    padding: 15px;
}
.service-block-v1 .service-heading {
    font-size: 18px;
}

/*.breadcrumbs-v3.img-v1 {*/
  /*background: none repeat scroll 0 0 #18ba9b;*/
  /*/!*background-size: cover;*!/*/
  /*/!*background-position: center center;*!/*/
/*}*/

.curs-head {
    padding-top: 10px;
    padding-bottom: 10px;
    /*background: rgba(255, 255, 255, 0.5);*/
    /*background: rgba(78, 0, 11, 0.5);*/
    background: rgba(114, 192, 44, 0.7);
}

.curs-head h1{
    /*color: #4e000b;*/
    /*color: #72c02c;*/
    color: #fff;
}
.curs-head p{
    /*color: #4e000b;*/
    /*color: #72c02c;*/
    color: #fff;
    font-weight: 500;
}

.modal {
    z-index: 10100;
}

.modal-backdrop {
    z-index: 10090;
}

.navbar-phone {
    margin-left: 0px !important;
    padding: 20px 15px 25px 10px !important;
    font-size: 25px !important;
    line-height: 16px;
}

.addr-small {
    font-size: 14px !important;
    /*letter-spacing: 0px;*/
}

.footer-v2 .footer {
    /*background: none repeat scroll 0 0 #f7f7f7;*/
    /*border-top: 3px solid #eee;*/
    padding: 40px 0 20px 0;
}