- content_for :title, 'Студия профессиональной флористики и дизайна'
- content_for :description, 'Adele Run - Студия профессиональной флористики и дизайна'
- content_for :keywords, 'флористика, цветы, букеты, цветочный дизайн'
h1 Contacts