.col-md-4.md-margin-bottom-30
  = link_to(image_path(filepath.sub('_thumb.', '.')), class: 'fancybox img-hover-v1', rel: 'gallery') do
    span
      = image_tag(filepath, class: 'img-responsive', lazy: true)
